<!DOCTYPE html>
<html>

<head>
    <title>Student Exam Performance Predictor</title>
</head>

<body>

    <h1>Student Exam Performance Indicator</h1>

    <form action="{{ url_for('predict_datapoint') }}" method="POST">

        <label>Gender</label><br>
        <select name="gender" required>
            <option value="">Select Gender</option>
            <option value="male">Male</option>
            <option value="female">Female</option>
        </select>

        <br><br>

        <label>Race/Ethnicity</label><br>
        <select name="race_ethnicity" required>
            <option value="">Select Race</option>
            <option value="group A">Group A</option>
            <option value="group B">Group B</option>
            <option value="group C">Group C</option>
            <option value="group D">Group D</option>
            <option value="group E">Group E</option>
        </select>

        <br><br>

        <label>Parental Level of Education</label><br>
        <select name="parental_level_of_education" required>
            <option value="">Select Education</option>
            <option value="associate's degree">Associate's Degree</option>
            <option value="bachelor's degree">Bachelor's Degree</option>
            <option value="high school">High School</option>
            <option value="master's degree">Master's Degree</option>
            <option value="some college">Some College</option>
            <option value="some high school">Some High School</option>
        </select>

        <br><br>

        <label>Lunch</label><br>
        <select name="lunch" required>
            <option value="">Select Lunch</option>
            <option value="standard">Standard</option>
            <option value="free/reduced">Free/Reduced</option>
        </select>

        <br><br>

        <label>Test Preparation Course</label><br>
        <select name="test_preparation_course" required>
            <option value="">Select Course</option>
            <option value="none">None</option>
            <option value="completed">Completed</option>
        </select>

        <br><br>

        <label>Reading Score</label><br>
        <input type="number" name="reading_score" min="0" max="100" required>

        <br><br>

        <label>Writing Score</label><br>
        <input type="number" name="writing_score" min="0" max="100" required>

        <br><br>

        <input type="submit" value="Predict Maths Score">

    </form>

    <h2>
        Predicted Maths Score : {{ results }}
    </h2>

</body>

</html>